* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  background-color: #f5f7ff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-image {
  width: 100%;
}

#plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7ff;
  width: 85%;
  margin: .5em;
  
  
}

.bold {
  font-weight: 700;
}

.attribution {
  display: none;
  font-size: .6875em;
  text-align: center;
  width: 85%;
  margin: 1.75rem 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
  body {
    background-image: url("./images/pattern-background-mobile.svg");
    background-size: cover;
  }
  
  #container {
    width: 85%;
  }
}

@media (min-width: 400px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: cover;
  }
  
  container {
    width: 20%;
  }
}
