* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

body {
  background-color: #f5f7ff;
}

@media (max-width: 375px) {
  body {
    background-image: url("./images/pattern-background-mobile.svg");
  }
}

@media (min-width: 375px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
  }
}
